@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-6 border border-[#242424] rounded-full uppercase text-xs md:text-sm tracking-widest text-gray-900 transition-all hover:border-gray-900/40 hover:text-gray-900/40 
    }
    .title {
        @apply absolute top-24 ml-4 md:ml-0 uppercase tracking-[20px] text-[#190135] text-2xl
    }
    .aboutDiv {
        @apply flex flex-col relative h-screen mx-auto text-center md:text-left md:flex-row px-10 max-w-7xl justify-evenly items-center
    }
    .productsDiv {
        @apply h-screen flex relative overflow-hidden flex-col text-left md:flex-row max-w-full px-10 justify-evenly mx-auto items-center
    }
    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-4 py-2 md:px-6 md:py-4 border-[#242424]  w-full
        text-gray-900 placeholder-gray-900 transition-all focus:border-gray-900/40 focus:text-gray-900/40
    }
}